/* universal rules */

* {
  padding: 0;
  margin: 0;
}

/* adding font classes */
/* inter */

.inter {
  font-family: "Inter", serif;
}

/* raleway */

.raleway {
  font-family: "Raleway", serif;
}
.nav-btn-border {
    border: 1px solid rgba(29, 209, 0, 0.40);
    border-radius: 12px;
}